<!-- reviews-index -->
<h1>Reviews</h1>
<!-- {{#each}} iterator to loop over our array of reviews and display each one's title. -->
{{#each reviews}}
  <h2>{{this.title}}</h2>
  <small>{{this.movieTitle}}</small>
{{/each}}
