<!-- views/reviews-new.handlebars -->

<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <form method="POST" action="/movies/{{movieId}}/reviews">
      <input type="hidden" name="movieId" value="{{movieId}}">
      {{> reviews-form}}
      <!-- BUTTON -->
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Save Review</button>
      </div>
    </form>
  </div>
</div>

<!-- <form method="POST" action="/reviews">
  {{> reviews-form}} -->
  <!-- <fieldset>
    <legend>New Review</legend> -->

    <!-- TITLE -->
    <!-- <p>
      <label for="title">Title</label><br>
      <input type="text" name="title"/>
    </p> -->

    <!-- MOVIE TITLE -->

    <!-- <p>
      <label for="movie-title">Movie Title</label><br>
      <input id="movie-title" type="text" name="movieTitle" />
    </p> -->

    <!-- DESCRIPTION -->

    <!-- <p>
      <label for="description-text">Description</label><br>
      <textarea id="description-text" name="description" rows="10" /></textarea>
    </p> -->

    <!-- RATINGS -->

    <!-- <select>
      <option>1 Star<option>
      <option>2 Stars<option>
      <option>3 Stars<option>
      <option>4 Stars<option>
      <option>5 Stars<option>
    </select> -->

    <!-- BUTTON -->
    <!-- <p>
      <button type="submit">Save Review</button>
    </p> -->

  <!-- </fieldset> -->


<!-- </form> -->
